<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Wine-Utile</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ImagesWineWS</servlet-name>
		<servlet-class>fr.afcepf.atod.img.impl.ServiceImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImagesWineWS</servlet-name>
		<url-pattern>/downloadUploadServices</url-pattern>
	</servlet-mapping>
</web-app>